html, body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

.vis {
    display: flex;
}


.text {
    font-family: sans-serif; 
    color: #141414; 
    font-weight: 450; 
    font-size: 40px;
}
