html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(SignUp-Background_20260221_230014_0000.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 30%;
    border-radius: 35px 0 35px 0;
    padding: 1%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
}

.primary-font {
    font-family: sans-serif;
    color: #141414;
    font-weight: 600;
    font-size: 40px;
}

.detailsInput {
    width: inherit;
    height: 60px;
    border-radius: 4px;
    padding: 10px;
    border: 1px #141414 solid;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#submitBtn {
    width: inherit;
    height: 50px;
    background-color: #141414;
    border: solid #141414;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 250;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.errorText {
    font-family: sans-serif;
    color: #e21212;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
    width: inherit;
}
